
#hero {
    display: flex;
    align-items: center;
    height: 95vh;         
    min-height: 600px;  
    width: 100%;
    overflow: hidden; 
        
}

#hero .row,
#heroCarousel,
#heroCarousel .carousel-inner,
#heroCarousel .carousel-item {
    height: 100%; 
}


.slider-helper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;     
    padding: 2rem;          
}


.slider-helper img {
    max-height: 60vh;  
    max-width: 100%;   
    width: auto;
    height: auto;
    object-fit: contain; 
   
}


#hero {
    height: 100vh;
    min-height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero .container {
    height: 100%;
}

/* Mobile Optimierung */
@media (max-width: 768px) { 
    #hero {
        height: auto;        
        min-height: 100vh;   
        overflow: visible;   
        padding-bottom: 50px;
    }

    #hero .container {
        height: auto;       
    }

    .slider-helper {
        height: 400px; 
        margin-top: 5rem;     
        padding: 1rem 0;
    }

    .slider-helper img {
        max-height: 100%;    
    }

    .border-mobil{
        padding-bottom: 2rem;
        border-radius: 8px;
        border: 1px solid black !important;
       
    }
}